.top {
  width: 100%;
  height: 8vh;
  background: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 110;
}

.topLeft,
.topRight {
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topLeft {
  /* transform: rotate(-5deg); */
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  font-family: "Lora", sans-serif;
}

.topCenter {
  flex: 6;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topList {
  font-size: 18px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topListItem {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}

.topListItem:hover {
  color: #666;
}

.topSearchIcon {
  margin-left: 15px;
  font-size: 20px;
  color: #222;
  cursor: pointer;
}
